<ul>
  <li><%= link_to 'Home', home_path %></li>
  <li><%= link_to 'About Us', aboutus_path %></li>
  <li><%= link_to 'Contact Us', contactus_path %></li>
  <li><%= link_to 'Frequently Asked Questions', faq_path %></li>
  <li><%= link_to 'Terms of Service', termsofservice_path%></li>
  <li><%= link_to 'Privacy Policy', privacypolicy_path %></li>
  <li><%= link_to 'Available Jobs', root_path %></li>
  <li><%= link_to 'Course Catalog', coursecatalog_path %></li>
  <li><%= link_to 'Testimonials', testimonials_path %></li>
  <li><%= link_to 'Blog', blog_path %></li>

</ul>